
<h2>You may choose to upload 4 posture photos prior to the appointment, as this will expedite the assessment process. </h2>
<p> 
 <br><font color="red"> Please note, the ability for you to stand in front of your webcam for posture analysis will be important. </font>
 <br>It is best if you are wearing shorts and a tank top so that your legs are visible above the knees and your shoulders and arms are visible. You should also be in your bare feet. 
</p>
 <br>
 {{#each queue as |file| }}
 
 <div class="ui divided demo items">
     <div class="item">
         <div class="image">
             {{#if file.isUploading}}
                        <div class="ui active inverted dimmer">
                          <div class="ui loader"></div>
                        </div>
                      {{else}}
                        <img src="{{file.base64Image}}">
                      {{/if }}
                    </div>
                    <div class="middle aligned content">
                      <div class="header">{{file.name}}</div>
                      <div class="meta">
                        <span>Size: {{file.size}}</span>
                      </div>
                      <div class="description">
                        {{#if file.isDisplayableImage}}
                          <br>
                        {{else}}
                          <p>Unsupported image</p>
                        {{/if}}
                      </div>
                      <div class="extra">
                        <button class="ui icon red basic button" {{action 'deleteFile' file}}>
                          <i class="remove icon"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
            {{else}}
              <div class="ui fluid labeled input">
                <label class="ui fluid huge label" style="{{labelStyle}}">
                  <i class="big cloud upload icon"></i>
                  Click or Drop files into this area to upload files
                </label>
                <input type="file" value="target.value" onchange={{action "selectFile"}} style="{{inputStyle}}"
                       accept="{{accept}}" multiple={{multiple}}>
              </div>
     
              {{#if uploaded}}
              <h3><font color="green">Done!</font></h3><h3>You can upload more photos, or continue to login and view your uploaded photos...</h3> 
              {{/if}}
              {{!--<button class="ui black button" {{action 'done' file}}>Cancel</button>--}}
            {{/each}}

          {{#if queue}}

            {{#if savingInProgress}}
              <button class="ui labeled green icon loading button">Loading</button>
            {{else}}
            <button class="ui labeled green icon button"{{action 'saveAllFiles' }}>
              <i class="checkmark icon"></i>
                  Save All
                </button>
    
            {{/if}}
            <button class="ui labeled red icon button" {{action 'deleteAllFiles' }}>
              <i class="remove icon"></i>
              Remove All
            </button>
          {{/if}}